html,body {
    padding: 0;
    margin: 0;
}

/* animation */
@keyframes writeFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* banner css */
.banner {
    background-color: #333;
    position:fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.banner .right {
    float: right;
}
.banner .right ul li{
    display: inline-block;
    margin: 0em 0.5em;
}
.banner .right ul li a{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}
.banner .right ul li a:hover {
    text-shadow: 0px 0px 5px #ddd;
}

/* content css */
.content {
    background-color: #000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 93.25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .main-header {
    margin-top: 2.5em;
    text-align: center;
    padding: 0.5em;
    display: block;
}
.content h4{
    font-family: 'Segoe UI';
    color: ghostwhite;
}
.content h1 {
    font-family: 'Segoe UI';
    color: ghostwhite;
    animation: ease 1s;
}
/* content main css */
.main .btn-m {
    background-color: #000;
    border: 1px solid #ccc;
    color: aliceblue;
    padding: 0.6em;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-radius: 0.25em;
    transition: box-shadow 0.3s;
    margin-right: 0.5em;
}
.main .btn-m:hover {
    box-shadow: #888 1px 1px 1px 1px;
}

/* footer css */
.footer {
    background-color: #222;
    height: 2.5em;
    width: 100%;
    text-align: center;
    padding-top: 0.75em;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer #link {
    margin-right: 0.5em;
    text-decoration: none;
}
.footer #link:hover #social-media{
    width: 1.75em;
}
.footer #link #social-media {
    width: 1.5em;
    transition: width 0.5s;
}