<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çağan ELDENK</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="banner">
        <div class="right">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="main-header">
            <h4>Hello, I'm Cagan. A highschool student Software Engineer.</h4>
            <h1>Python & PHP <span style="color: royalblue">developer</span></h1>
        </div>

        <div class="footer">
            <a href="https://github.com/cagan-elden" id="link">
                <img src="{{ url_for('static', filename='img/github.png') }}" alt="" id="social-media">
            </a>
            <a href="https://www.linkedin.com/in/%C3%A7a%C4%9Fan-bora-eldenk-993ab3337/" id="link">
                <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="" id="social-media">
            </a>
        </div>
    </div>
</body>
</html>